body{
    background-color:#fbe2ef;
    color: rgba(255,255,255,0.8);
}
.nav {
    color: #fff;
    background-color: #050101;
    width: 100%;
    height: 56px;
    line-height: 56px;
}
#landing{
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
.pink{
    background-color: rgb(225, 34, 152)!important;
}
#mainText{
    margin-top: 30vh;
}
.center{
    color: #000000;
}
#intro{
    margin-top: 50px;
}

#work{
    background-color: rgb(61,61,61);
}