body{
    background-color:#fbe2ef;
    color: rgba(0, 0, 0, 0.8);
}
.nav {
    color: #fff;
    background-color: #050101;
    width: 100%;
    height: 56px;
    line-height: 56px;
}
#landing{
    height: 100vh;
    background-image:url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
.pink{
    background-color: rgb(225, 34, 152)!important;
}
#mainText{
    margin-top: 20vh;
}
.center{
    color: #ffffff;
}
.container{
    background-color:  rgb(225, 34, 152)!important; 
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 1280px;
    width: 80%;
    padding-bottom: 10px;
}
#intro{
    margin-top: 50px;
}

#work{
    background-color: rgb(61,61,61);
}
.black{
    background-color:#fbe2ef!important ;

}
.responsive-img{
    height: 100%;
    width: 80%;
    
}
.row center p{
    line-height: 1.6;
    text-align: left;
}
.button {
    border-radius: 15px;
    color: rgb(0, 0, 0);
    background-color: rgb(100, 50, 215);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

  }
.button{
 {background-color: #fbe2ef;}
 }